
<form class="contact-form" name="AddNewForm3" novalidate>
    <div ng-hide="Conhecimentos">
        <span class="span2">Avalie-se de 0 a 5 quanto aos conhecimentos especificados abaixo, e tudo bem se não souber de muitas coisas, o importante é que seja sincero!</span>
        <hr>
        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    Ionic
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.Ionic.$dirty && AddNewForm3.Ionic.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" value="1" ng-model="Ionic">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" value="2" ng-model="Ionic">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" value="3" ng-model="Ionic">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" value="4" ng-model="Ionic">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" value="5" ng-model="Ionic">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>

        </div>








        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    Reactjs
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.Reactjs.$dirty && AddNewForm3.Reactjs.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" name="Reactjs" checked="checked" value="1" ng-model="Reactjs">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" name="Reactjs" value="2" ng-model="Reactjs">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" name="Reactjs" value="3" ng-model="Reactjs">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" name="Reactjs" value="4" ng-model="Reactjs">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" name="Reactjs" value="5" ng-model="Reactjs">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    React Native
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.Reactnative.$dirty && AddNewForm3.Reactnative.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" name="Reactnative" checked="checked" value="1" ng-model="Reactnative">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" name="Reactnative" value="2" ng-model="Reactnative">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" name="Reactnative" value="3" ng-model="Reactnative">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" name="Reactnative" value="4" ng-model="Reactnative">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" name="Reactnative" value="5" ng-model="Reactnative">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    Android
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.Android.$dirty && AddNewForm3.Android.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" name="Android" checked="checked" value="1" ng-model="Android">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" name="Android" value="2" ng-model="Android">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" name="Android" value="3" ng-model="Android">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" name="Android" value="4" ng-model="Android">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" name="Android" value="5" ng-model="Android">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    IOS
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.IOS.$dirty && AddNewForm3.IOS.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" name="IOS" checked="checked" value="1" ng-model="IOS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" name="IOS" value="2" ng-model="IOS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" name="IOS" value="3" ng-model="IOS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" name="IOS" value="4" ng-model="IOS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" name="IOS" value="5" ng-model="IOS">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    HTML
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.HTML.$dirty && AddNewForm3.HTML.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" name="HTML" checked="checked" value="1" ng-model="HTML">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" name="HTML" value="2" ng-model="HTML">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" name="HTML" value="3" ng-model="HTML">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" name="HTML" value="4" ng-model="HTML">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" name="HTML" value="5" ng-model="HTML">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    CSS
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.CSS.$dirty && AddNewForm3.CSS.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" name="CSS" checked="checked" value="1" ng-model="CSS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" name="CSS" value="2" ng-model="CSS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" name="CSS" value="3" ng-model="CSS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" name="CSS" value="4" ng-model="CSS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" name="CSS" value="5" ng-model="CSS">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    Bootstrap
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.Bootstrap.$dirty && AddNewForm3.Bootstrap.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" name="Bootstrap" checked="checked" value="1" ng-model="Bootstrap">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" name="Bootstrap" value="2" ng-model="Bootstrap">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" name="Bootstrap" value="3" ng-model="Bootstrap">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" name="Bootstrap" value="4" ng-model="Bootstrap">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" name="Bootstrap" value="5" ng-model="Bootstrap">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    Jquery
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.Jquery.$dirty && AddNewForm3.Jquery.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" name="Jquery" checked="checked" value="1" ng-model="Jquery">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" name="Jquery" value="2" ng-model="Jquery">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" name="Jquery" value="3" ng-model="Jquery">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" name="Jquery" value="4" ng-model="Jquery">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" name="Jquery" value="5" ng-model="Jquery">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-xl-12">
                <span class="span2">
                    AngularJS
                </span>
                <span class="msg" style="color:red;" ng-show="AddNewForm3.AngularJS.$dirty && AddNewForm3.AngularJS.$invalid">Selecione uma classificação</span>
                <div class="form-group">
                    <label class="checksRadios epleft col-xl-2">
                        1
                        <input type="radio" name="AngularJS" checked="checked" value="1" ng-model="AngularJS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        2
                        <input type="radio" name="AngularJS" value="2" ng-model="AngularJS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        3
                        <input type="radio" name="AngularJS" value="3" ng-model="AngularJS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        4
                        <input type="radio" name="AngularJS" value="4" ng-model="AngularJS">
                        <span class="radioMark"></span>
                    </label>
                    <label class="checksRadios epleft col-xl-2">
                        5
                        <input type="radio" name="AngularJS" value="5" ng-model="AngularJS">
                        <span class="radioMark"></span>
                    </label>
                </div>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <textarea name="Outro" ng-model="Outro" maxlength="500" type="text" placeholder="Outro? Conte para nos e se auto avalie ainda de 0 a 5." autocomplete="off"></textarea>
        </div>
    </div>
</form>
